<form #employeeForm="ngForm"  (submit)="saveEmployee()">

  <div class="card ">
    <div class="card-header bg-primary">
      <h3 class="card-title">Create Employee</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="name">  Name</label>
        <input id="name" name="employee.name" [(ngModel)]="employee.name" type="text" class="form-control" >
      </div>

      <div class="form-group" [class.is-invalid]="email.invalid && email.touched" >
        <label for="email" class="control-label"> Email</label>
        <input id="email" name="employee.email" [(ngModel)]="employee.email" type="text" class="form-control" #email="ngModel"
         [required]="contactPreference.value=='email'" email>
        <span class="form-text" *ngIf="email.errors?.required && email.touched">Email is required</span>
        <span class="form-text" *ngIf="email.errors?.email && email.touched">Email is invalid</span>
      </div>


      <div class="form-group" [class.is-invalid]="password.invalid && password.touched" >
        <label for="password" class="control-label"> Password </label>
        <input id="password" name="employee.password" [(ngModel)]="employee.password" type="text" class="form-control" #password="ngModel"
         required >
        <small class="text-danger" *ngIf="password.errors?.required && password.touched">password is required</small>
        
      </div>

      <div class="form-group" [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" >
        <label for="confirmPassword" class="control-label"> Confirm password</label>
        <input id="confirmPassword" name="employee.confirmPassword" [(ngModel)]="employee.confirmPassword" type="text" class="form-control" #confirmPassword="ngModel"
         required appConfirmEqualValidator="password">
        <small class="text-danger" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">please confirm password</small>
        <small class="text-danger" *ngIf="confirmPassword.errors?.notEqual">password and confirm password do not match</small>
       
      </div>

      <div class="form-group" >
        <label for="phoneNumber"> Phone Number</label>
        <input id="phoneNumber" name="employee.phoneNumber" #phoneNumber="ngModel" [required]="contactPreference.value=='phone'"
        [(ngModel)]="employee.phoneNumber" type="tel" class="form-control">
        <small class="text-danger" *ngIf="phoneNumber.errors?.required && phoneNumber.touched">phone number is required</small>
      </div>

      <div class="form-group">
        <label> Contact Preference</label>
        <div class="form-control">
          <div class="form-check form-check-inline"><label class="form-check-label">
              <input class="form-check-input" name="employee.contactPreference" #contactPreference="ngModel"
              [(ngModel)]="employee.contactPreference" type="radio"
                value="email">
              Email </label></div>
          <div class="form-check form-check-inline"> <label class="form-check-label">
              <input class="form-check-input" name="employee.contactPreference" #contactPreference="ngModel"
              [(ngModel)]="employee.contactPreference" type="radio"
                value="phone">
              Phone </label></div>
        </div>

      </div>

      <div class="form-group">
        <label> Gender</label>
        <div class="form-control">
          <div class="form-check form-check-inline"><label class="form-check-label">
              <input class="form-check-input" name="employee.gender" [(ngModel)]="employee.gender" type="radio" value="male">
              Male </label></div>
          <div class="form-check form-check-inline"> <label class="form-check-label">
              <input class="form-check-input" name="employee.gender" [(ngModel)]="employee.gender" type="radio" value="female">
              Female </label></div>
        </div>

      </div>

      <div class="form-group">

        <div class="form-control">
          <div class="form-check form-check-inline"><label class="form-check-label">
              <input class="form-check-input" name="employee.isActive" [(ngModel)]="employee.isActive" type="checkbox">
              Is Active</label></div>

        </div>

      </div>

      <div class="form-group">
        <label for="department"> Department </label>
        <select id="department" name="employee.department" [(ngModel)]="employee.department" class="form-control" 
        #department="ngModel" appSelectValidator>
         <option value="1">Select a department</option>
          <option *ngFor="let dept of departmentList" [value]="dept.name">{{dept.name}} </option>
        </select>
        <small class="text-danger" *ngIf="department.errors?.defaultSelected">please select a valid deprtment</small>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <label for="dateOfBirth">Date of Birth</label>
          <input id="dateOfBirth" name="employee.dateOfBirth" [(ngModel)]="employee.dateOfBirth" type="text" bsDatepicker placement="right"
            [bsConfig]="datePickerConfig" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="photoPath"> Photo Path</label>
        <input id="photoPath" name="employee.photoPath" [(ngModel)]="employee.photoPath" type="tel" class="form-control">
      </div>

      <div class="form-group">
          <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">
            {{previewPhoto? "Hide":"Show"}} Preview
          </button>
          
        </div>

      <div class="form-group">
        <img [src]="employee.photoPath" height="200" width="200" *ngIf="previewPhoto" />

      </div>


    </div>





    <div class="card-footer">
      <button [disabled]="employeeForm.invalid" type="submit" class="btn btn-primary">Save</button>

      <button class="btn btn-primary float-right" (click)="alert()">alert me</button>
    </div>

  </div>

</form>

Angular generated formMdoel {{employeeForm.value | json}}