<div class="card my-1" (click)="handleClick()" >
  <div class="card-header bg-primary" [class.card] = "selectedEmployeeId === employee.id">
    <h3 class="card-title">{{employee.name}} </h3>
  </div>
  <div class="card-block">
    <div class="col-10">
      <div class="row align-items-center d-flex">
        <div class="col-4">
          <div>
            <img class="image" [src]="employee.photoPath" />
          </div>
        </div>
        <div class="col-8">
          <div class="row ">
  
            <div class="col-6">
              Gender:
            </div>
            <div class="col-6">
              {{employee.gender}}
            </div>
  
          </div>
          <div class="row">
  
            <div class="col-6">
              Date of Birth:
            </div>
            <div class="col-6">
              {{employee.dateOfBirth | date}}
            </div>
  
          </div>
  
          <div class="row">
  
            <div class="col-6">
              Contact Preference:
            </div>
            <div class="col-6">
              {{employee.contactPreference}}
            </div>
  
          </div>
  
          <div class="row">
  
            <div class="col-6">
              Phone:
            </div>
            <div class="col-6">
              {{employee.phoneNumber}}
            </div>
  
          </div>
  
          <div class="row">
  
            <div class="col-6">
              Email:
            </div>
            <div class="col-6">
              {{employee.email}}
            </div>
  
          </div>
  
          <div class="row">
  
            <div class="col-6">
              Department
            </div>
            <div class="col-6">
              {{employee.department}}
            </div>
  
          </div>
  
          <div class="row">
  
            <div class="col-6">
              Is Active:
            </div>
            <div class="col-6">
              {{employee.isActive}}
            </div>
  
          </div>
  
  
  
  
  
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary" [routerLink] ="['/list', {id: employee.id}]">  Back to list</a>
    <button class="btn btn-primary float-right" (click)="viewNextEmployee()">View Next Employee</button>

  </div>
  </div>