<h1 *ngIf="dataFromChild"> {{dataFromChild?.name + ' ' + dataFromChild?.gender}} </h1>

<div *ngFor="let employee of employees">
  <div (click) ="onClick(employee.id)" class="pointerCursor">
    <app-display-employee [employee]="employee" (notify)="handleNotify($event)"></app-display-employee>
  </div>
</div>


<div>
  <button class="btn btn-primary" (click)="nextEmployee()">view Next Employeee</button>
  <br>
  <br>
  <app-display-employee [employee]="employeeToDisplay" [employeeId]="employeeToDisplay.id"></app-display-employee>
</div>