<div class="container">
  <nav class="navbar my-3 bg-light">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="list"> List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="create"> Create</a>
      </li>
    </ul>

    <h1 id="clock"class="float-right text-uppercase text-primary" > time </h1>
  </nav>


  <router-outlet></router-outlet>
</div>